body, button, input, select, textarea {
    color: #404040;
    font-family: Merriweather Web,serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: Novecento Sans Web,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1, h2 {
    line-height: 1.25;
}

a {
    color: #248a83;
    text-decoration: none;
    background-color: transparent;
}

fieldset {
	border: 0;
	padding: 0;
	padding-bottom: .75rem;
	margin: 0
}

.main-navigation {
	display: flex;
    font-family: Novecento Sans Web,sans-serif;
    text-transform: uppercase;
}

.main-navigation li {
    float: left;
    padding-left: 1.5rem;
    position: relative;
}

.clearfix:after {
	clear: both;
	content: "";
	display: table
}

.container-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.logo-branding {
    background: url('../../images/logos/inhabitent-logo-tent.svg') no-repeat;
    background-size: 50px 33px;
    height: 33px;
    width: 33px;
}

.logo-branding-white {
    background: url('../../images/logos/inhabitent-logo-tent-white.svg') no-repeat;
    background-size: 50px 33px;
    height: 33px;
    width: 33px;
}

.hero-image-header {
    height: 100vh;
}

.search-toggle {
	display: none
}

.header-search {
	line-height: 1;
	padding-left: 1.5rem
}

.header-search .search-toggle {
	color: #248a83;
	float: left;
	padding-top: .33rem
}

.header-search fieldset {
	padding: 0
}

.header-search label {
	display: none;
	float: left;
	margin: 0
}

.header-search input[type=search] {
	border: 0;
	background: transparent;
	font-family: Novecento Sans Web, sans-serif;
	margin-left: .75rem;
	padding: 0 .3rem;
	text-transform: uppercase
}

.header-search input[type=search]:focus {
	outline: none
}

.header-search input[type=search] {
	color: #fff;
	border: 0;
	background: transparent;
	font-family: Novecento Sans Web, sans-serif;
	margin-left: .75rem;
	padding: 0 .3rem;
	text-transform: uppercase
}

.header-search input[type=search]:focus {
	outline: none
}

.site-header {
    background-color: transparent;
    border-bottom: 0;
    position: absolute;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.site-header-top {
    background-color: transparent;
    border-bottom: 0;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover,cover;
}

.site-header .main-navigation a {
    color: white;
}

.template-page-about .entry-title {
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
}

.entry-title {
	max-width: 800px
}

/* blog  */

.blog .entry-header {
	line-height: 0;
    position: relative;
}

.blog .site .site-content {
	display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

.blog .site .site-content .content-area {
	border-right: 1px solid #e1e1e1;
    padding-right: 5%;
    width: 73%;
}

.blog .site .site-content .widget-area  {
	padding-left: 5%;
    width: 27%;
}

.blog .entry-header h2 {
	background-color: #248a83;
    color: #fff;
    font-size: 33.6px;
    font-size: 2.1rem;
    left: 0;
    padding: .75rem 1.5rem;
    position: absolute;
    margin-top: 2.25rem;
    max-width: 75%;
	top: 0;
	margin-bottom: 1.5rem;
}

.blog .entry-header a {
	color: #fff;
}

.blog .entry-meta {
	background-color: #248a83;
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-family: Novecento Sans Web,sans-serif;
    padding: 1.00005rem 1.5rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

/* post-template-default   */

.post-template-default .entry-header {
	line-height: 0;
    position: relative;
}

.post-template-default .site .site-content {
	display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

.post-template-default .site .site-content .content-area {
	border-right: 1px solid #e1e1e1;
    padding-right: 5%;
    width: 73%;
}

.post-template-default .site .site-content .widget-area  {
	padding-left: 5%;
    width: 27%;
}

.post-template-default .entry-header h2 {
	background-color: #248a83;
    color: #fff;
    font-size: 33.6px;
    font-size: 2.1rem;
    left: 0;
    padding: .75rem 1.5rem;
    position: absolute;
    margin-top: 2.25rem;
    max-width: 75%;
	top: 0;
	margin-bottom: 1.5rem;
}

.post-template-default .entry-header a {
	color: #fff;
}

.post-template-default .entry-meta {
	background-color: #248a83;
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-family: Novecento Sans Web,sans-serif;
    padding: 1.00005rem 1.5rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

/* archive  */

.archive .entry-header {
	line-height: 0;
    position: relative;
}

.single-product_type .site-content {
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

.single-product_type .hentry {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.single-product_type .hentry .product-image-wrapper {
    width: 300%;
}

.single-product_type .hentry .product-content-wrapper {
    width: 200%;
}

.single-product_type .hentry .entry-title {
    color: #d99054;
}

.single-product_type .hentry .price {
    font-family: Novecento Sans Web,sans-serif;
    font-size: 28.8px;
    font-size: 1.8rem;
    margin-top: 0;
    text-transform: uppercase;
}

.hentry {
    margin: 0 0 4.5rem;
}

.archive .site .site-content {
	display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

.archive .site .site-content .content-area {
	border-right: 1px solid #e1e1e1;
    padding-right: 5%;
    width: 73%;
}

.archive .site .site-content .widget-area  {
	padding-left: 5%;
    width: 27%;
}

.archive .entry-header h2 {
	background-color: #248a83;
    color: #fff;
    font-size: 33.6px;
    font-size: 2.1rem;
    left: 0;
    padding: .75rem 1.5rem;
    position: absolute;
    margin-top: 2.25rem;
    max-width: 75%;
	top: 0;
	margin-bottom: 1.5rem;
}

.archive .entry-header a {
	color: #fff;
}

.archive .entry-meta {
	background-color: #248a83;
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-family: Novecento Sans Web,sans-serif;
    padding: 1.00005rem 1.5rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

/* end  */

.template-page-about p {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.page-find-us .site .site-content {
	display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

.page-find-us .site .site-content .content-area {
	border-right: 1px solid #e1e1e1;
    padding-right: 5%;
    width: 73%;
}

.page-find-us .site .site-content .widget-area  {
	padding-left: 5%;
    width: 27%;
}

.site-footer {
    background: url(../../images/dark-wood.png);
    background-size: 512px 512px;
    color: #fff;
}

.site-footer a {
    color: #fff;
    text-decoration: none;
}

.footer-blocks {
    display: flex;
}

.container-footer {
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

.footer-block-item {
    margin: 3rem 0;
    padding-right: 1.5rem;
    width: 25%;
}

.footer-block-item .text-logo {
	margin-top: 1rem;
	text-align: right
}

.footer-blocks p {
    margin-bottom: .5rem;
}

.footer-blocks h3 {
    color: #d99054;
    font-size: 19.2px;
    font-size: 1.2rem;
    margin-bottom: .75rem;
    text-transform: uppercase;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5rem;
	margin-bottom: 1.5rem
}

.product-grid-item {
	border: 1px solid #e1e1e1
}

.product-grid-item .product-info {
	font-size: 14.4px;
	font-size: .9rem;
	padding: .75rem 1rem
}

.product-grid-item .thumbnail-wrapper {
	background-color: #e1e1e1;
	height: 250px;
	overflow: hidden;
	position: relative
}

.product-grid-item .wp-post-image {
	left: 50%;
	max-height: 250px;
	max-width: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -52%);
	width: auto
}

.home .product-type-blocks {
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-align: center
}

.home .product-type-blocks img {
	height: 70px;
	width: 70px
}

.home .product-type-blocks p:last-child {
	margin-bottom: .75rem
}

.home .product-type-block-wrapper {
	border: 1px solid #e1e1e1;
	border-top-width: 5px;
	-ms-flex: 0 1 23.5%;
	flex: 0 1 23.5%;
	max-width: 23.5%;
	padding: .75rem
}

.home .product-type-block-wrapper:hover {
	border-color: #d99054
}

.home .latest-entries ul {
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style-type: none;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0
}

.home .latest-entries li {
	border: 1px solid #e1e1e1;
	-ms-flex: 0 1 32%;
	flex: 0 1 32%;
	position: relative
}

.home .latest-entries .post-info-wrapper {
	flex-direction: column;
	justify-content: space-between;
	padding: .75rem
}

.home .latest-entries .thumbnail-wrapper {
	background-color: #e1e1e1;
	height: 250px;
	overflow: hidden;
	position: relative
}

.home .latest-entries .entry-meta {
	font-size: 12px;
	font-size: .75rem
}

.home .latest-entries h3 {
	font-size: 20.8px;
	font-size: 1.3rem;
	margin-bottom: 3.75rem
}

.home .latest-entries .black-btn {
	position: absolute;
	bottom: .75rem;
	left: .75rem
}

.black-btn,
.btn,
.white-btn,
button,
input[type=button],
input[type=reset],
input[type=submit] {
	background: #248a83;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-family: Novecento Sans Web, sans-serif;
	font-size: 14.4px;
	font-size: .9rem;
	line-height: 1;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase
}

.black-btn:active,
.black-btn:focus,
.black-btn:hover,
.btn:active,
.btn:focus,
.btn:hover,
.white-btn:active,
.white-btn:focus,
.white-btn:hover,
button:active,
button:focus,
button:hover,
input[type=button]:active,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:active,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=submit]:hover {
	background: #19625d;
	color: #fff
}

.black-btn {
	border: 1px solid #000;
	color: #000
}

.black-btn,
.white-btn {
	background-color: transparent
}

.white-btn {
	border: 1px solid #fff;
	color: #fff
}

.black-btn:active,
.black-btn:focus,
.black-btn:hover,
.white-btn:active,
.white-btn:focus,
.white-btn:hover {
	background-color: #248a83;
	border: 1px solid #248a83;
	color: #fff
}

.site-info {
	font-family: Novecento Sans Web, sans-serif;
	padding: 1.5rem 0;
	text-align: center;
	text-transform: uppercase
}

.widget ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.social-buttons {
    margin: 1.5rem 0;
}

.title-page-about {
	text-align: center;
}