body, button, input, select, textarea {
    color: #404040;
    font-family: Merriweather Web,serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: Novecento Sans Web,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main-navigation {
    font-family: Novecento Sans Web,sans-serif;
    text-transform: uppercase;
}

.main-navigation li {
    float: left;
    padding-left: 1.5rem;
    position: relative;
}

.container-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.logo-branding {
    background: url('../../images/logos/inhabitent-logo-tent.svg') no-repeat;
    background-size: 50px 33px;
    height: 33px;
    width: 33px;
}

.hero-image-header {
    height: 100vh;
}

.site-header {
    background-color: transparent;
    border-bottom: 0;
    position: absolute;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover,cover;
}

.site-header .main-navigation a {
    color: white;
}

.template-page-about .entry-title {
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
}

.site-footer {
    background: url(../../images/dark-wood.png);
    background-size: 512px 512px;
    color: #fff;
}

.site-footer a {
    color: #fff;
    text-decoration: none;
}

.footer-blocks {
    display: -ms-flexbox;
    display: flex;
}

.container-footer {
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

.footer-block-item {
    margin: 3rem 0;
    padding-right: 1.5rem;
    width: 25%;
}

.footer-blocks p {
    margin-bottom: .5rem;
}

.footer-blocks h3 {
    color: #d99054;
    font-size: 19.2px;
    font-size: 1.2rem;
    margin-bottom: .75rem;
    text-transform: uppercase;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5rem;
	margin-bottom: 1.5rem
}

.product-grid-item {
	border: 1px solid #e1e1e1
}

.product-grid-item .product-info {
	font-size: 14.4px;
	font-size: .9rem;
	padding: .75rem 1rem
}

.home .product-type-blocks {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-align: center
}

.home .product-type-blocks img {
	height: 70px;
	width: 70px
}

.home .product-type-blocks p:last-child {
	margin-bottom: .75rem
}

.home .product-type-block-wrapper {
	border: 1px solid #e1e1e1;
	border-top-width: 5px;
	-ms-flex: 0 1 23.5%;
	flex: 0 1 23.5%;
	max-width: 23.5%;
	padding: .75rem
}

.home .product-type-block-wrapper:hover {
	border-color: #d99054
}

.black-btn,
.btn,
.white-btn,
button,
input[type=button],
input[type=reset],
input[type=submit] {
	background: #248a83;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-family: Novecento Sans Web, sans-serif;
	font-size: 14.4px;
	font-size: .9rem;
	line-height: 1;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase
}

.black-btn:active,
.black-btn:focus,
.black-btn:hover,
.btn:active,
.btn:focus,
.btn:hover,
.white-btn:active,
.white-btn:focus,
.white-btn:hover,
button:active,
button:focus,
button:hover,
input[type=button]:active,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:active,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=submit]:hover {
	background: #19625d;
	color: #fff
}

.black-btn {
	border: 1px solid #000;
	color: #000
}

.black-btn,
.white-btn {
	background-color: transparent
}

.white-btn {
	border: 1px solid #fff;
	color: #fff
}

.black-btn:active,
.black-btn:focus,
.black-btn:hover,
.white-btn:active,
.white-btn:focus,
.white-btn:hover {
	background-color: #248a83;
	border: 1px solid #248a83;
	color: #fff
}
