.container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.logo-branding {
    background: url('../../images/logos/inhabitent-logo-tent.svg') no-repeat;
    background-size: 50px 33px;
    height: 33px;
    width: 33px;
}

.hero-image-header {
    height: 100ch;
}